
  <div class="layout">
    <nav class="navigation">
      <button class="icon-btn" (click)="toggleSidebar()">
        <i class="icon fas fa-bars"></i>
      </button>
      <button class="route-btn" routerLink="home">Home</button>
      <button class="route-btn" routerLink="test">Test</button>
    </nav>
    
    <div class="layout-body">
      <div
      class="sidebar"
      [@toggleSidebar]="isOpen ? 'sidebar-expanded' : 'sidebar-retracted'"
      ></div>
      
      <div [@routerAnimations]="prepareRoute(outlet)" class="content">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      
    </div>
  </div>
  