.component-body {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
}

.case {
    display: flex;
    width: 515px;
    height: 515px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}